<div id="user-info">
  <h1><%= @user.username %></h1>
  <p>Cash available: $<%= @user.cash_available %></p>
  <p>Cash invested: $<%= @user.cash_invested %></p>
</div>

<div id="pie-chart"></div>




<h1>Portfolio</h1>

<% @user.investments.each do |investment| %>
  <div class="investment-item card">
    <div class="investment-card front">
      <%= investment.stock.symbol %><br>
      <%= investment.percentage_of_portfolio %>% of portfolio<br>
      <%= investment.number_of_shares %> shares<br> 
      $<%= investment.value %> invested <br>
    </div>

    <div class="investment-card-details back">
      <center>
        <button type="submit" name="performance" class="btn">P</button>
        <button type="submit" name="fundamentals" class="btn">F</button>
        <button type="submit" name="transaction-history" class="btn">T</button>
      </center>

      <div class="investment-performance">
        Ticker:<br>
        Price:<br>
        Change ($, %):<br>
        Value:<br>
        Day Change:<br>
        Total Gain:<br>
      </div>

      <div class="investment-fundamentals">
        Price: <%= investment.stock.ask %><br>
        P/E: <%= investment.stock.pe_ratio %><br>
        P/B:<br>
        EPS: <%= investment.stock.earnings_per_share %><br>
        ROA:<br>
        ROE:<br>
        Net Margin:<br>
        Rev. Growth:<br>
      </div>

      <div class="investment-transaction-history">
        <% investment.transactions.each do |t| %>
          &nbsp <%= t.order %><br>
          &nbsp number of shares: <%= t.number_of_shares %><br>
          &nbsp price per share: <%= t.price_per_share %><br>
          &nbsp total: <%= t.total %><br>
          &nbsp time bought: <%= t.created_at %>
          <br><br>
        <% end %>
      </div>

      <div class="investment-transaction-headlines">
        <p>Headlines</p>
      </div>
    </div>

    <div>
      <%= form_for :investment, url: investments_path, html: {id: "add_stock"}, method: :post do |f| %>
        <%= f.hidden_field :symbol, value: investment.stock.symbol %>
        <%= f.text_field :number_of_shares, placeholder: "quantity", class: 'shares' %>
        <div id="share-price"></div>
      <%= f.submit "Buy", {class: 'btn', id: 'buy_button'} %>
      <% end %>

      <%= form_for :investment, url: investment_path, html: {id: "sell_stock"}, method: :delete do |f| %>
        <%= f.hidden_field :symbol, value: investment.stock.symbol %>
        <%= f.text_field :number_of_shares, placeholder: "quantity", class: 'shares' %>
        <div id="share-price"></div>
      <%= f.submit "Sell", {class: 'btn', id: 'buy_button'} %>
      <% end %>
    </div>
  </div>


<% end %>
<br>


