<!DOCTYPE html>
<html>
<head>
  <title>FantasyStocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='tabulous.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <nav>
    <% if current_user %>
      <div style="float:left;">
        <%= link_to 'WealthMark', root_url, {class: 'btn'} %>
      </div>

      <div class="session-panel">
        <%= link_to current_user.username + "'s Portfolio", user_path(current_user), {class: 'btn'} %>
        <%= link_to 'Logout', logout_path, {class: 'btn'} %><br>
      </div>
    <% else %>
      <%= link_to 'WealthMark', root_url, {class: 'btn'} %>

      <div class="session-panel">
        <%= link_to 'Login', login_path, {class: 'btn'} %>
        <%= link_to 'Sign up', new_user_path, {class: 'btn'} %><br>
      </div>
    <% end %>
  </nav>

  <nav id="search-nav">
    <%= form_tag stocks_path, method: 'post', id: 'generate_graph' do %>
      <%= text_field_tag :symbol, nil, placeholder: 'Enter Stock Symbol' %>
      <%= hidden_field_tag :time_limit, nil, placeholder: 'Enter Date Range' %>
      <button type="submit" class="btn btn-success">
        &nbsp<i class="fa fa-search"></i>&nbsp
      </button>
    <% end %>
  </nav>

  <div id="stock-wrapper">
    <div id="stock-info"></div>
    <div id="stock-graph"></div>
    <%= form_for :investment, url: investments_path, method: :post do |f| %>
      <div id="actions"></div>
      <%= f.text_field :number_of_shares, placeholder: "quantity", class: 'shares' %> shares x
      <div id="share-price"></div>
      <%= f.submit "Buy", {class: 'btn', id: 'buy_button'} %>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
